<!-- UWEB -->
<h2 class="inline-block"><%= t("manage.print_proposal.title") %></h2>

<a href="#" class="button warning radius right"><%= t("manage.print") %></a>

<!-- DELETE ME -->
<span style="color: red; display:block; margin-top: 24px;">
Aqui aparece el mismo listado de "/proposals" también con los filtros.<br>
Una vez se seleccione lo que se quiere se pulsa "Imprimir".<br>
De momento podéis poner las 25 por defecto y después limitaremos el resultado a las que entren en un DIN A4.
</span>
<!-- /.DELETE ME -->
