<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">

      <%= render '/shared/print' %>

      <h1><%= t("pages.conditions") %></h1>
      <h2>AVISO LEGAL SOBRE AS CONDICIÓNS DE USO, PRIVACIDADE E PROTECCIÓN
          DE DATOS PERSONAIS DO PORTAL UDC DECIDE DA UNIVERSIDADE DA CORUÑA</h2>

      <h3>1. Ámbito de aplicación das condicións de uso</h3>

      <p>
        A participación (entendéndoa como participación activa máis alá da lectura do contido presente)
        no portal de UDC Decide da Universidade da Coruña regúlase polas presentes condicións de uso que
        vinculan a todas as persoas que participen neste sitio web. Por elo, calquera persoa que desexe
        participar deberá rexistrarse, solicitándolle a aceptación destas condicións de uso.
      </p>

      <p>
        A Universidade da Coruña resérvase a facultade de modificar as presentes condicións de uso
        para a participación no portal UDC Decide da Universidade da Coruña, estando publicada a última
        versión neste sitio web.
      </p>

      <h3>2. Obxectivo da iniciativa</h3>

      <p>
        A través do portal UDC Decide a Universidade da Coruña quere fomentar a participación
        de toda a comunidade universitaria na xestión da universidade, implicándoa na xeración
        de ideas e propostas novas e viables, co obxecto de mellorar a institución e todos os
        aspectos relacionados coa vida universitaria.
      </p>
      <p>
        É unha aposta decidida por unha xestión máis próxima a todos os colectivos universitarios
        que permitirá recibir as súas propostas e ademais crear canles directos de comunicación
        co goberno universitario, contribuíndo a tomar decisións máis acertadas para o interese xeral.
      </p>

      <h3>3. Cuestións xerais sobre a participación no portal UDC Decide da Universidade da Coruña </p>

      <p>
        Poderá participar calquera persoa a partir dos 16 anos que se rexistrase previamente no portal
        UDC Decide.
      </p>
      <p>
        Mediante a aceptación destas condicións de uso declárase ter 16 anos ou máis. Os maiores de idade
        a cargo dos menores son os plenos responsables da actuación que teñan estes no porta UDC Decide.
      </p>
      <p>
        Non existe limitación en canto ao número de debates, comentarios ou propostas a presentar polos
        participantes.
      </p>
      <p>
        Ao introducir o título da proposta ou do debate, recoméndase escribir unha descrición breve
        e precisa cun máximo de 2000 caracteres. Para completar a argumentación poderán asociarse documentos
        adxuntos ou das redes sociais Vimeo, Youtube, Slideshare, Flickr ou SoundCloud.
      </p>

      <h3>4. Obrigacións dos usuarios do portal UDC Decide</h3>

      <p>
        Ao ser o portal UDC Decide un punto de encontro co obxectivo de debater, e compartir e valorar propostas relacionadas coa mellora da universidade, os usuarios están obrigados a facer uso dilixente e acorde a dito obxectivo.
      </p>
      <p>
        A Universidade da Coruña non é responsable do uso incorrecto do porta UDC Decide polos usuarios ou
        dos contidos localizados no mesmo, sendo cada usuario responsable do seu uso correcto
        e da legalidade dos contidos e opinións que compartira.
      </p>
      <p>
        A Universidade da Coruña resérvase, polo tanto, o dereito a limitar o acceso ao portal
        UDC Decide da Universidade da Coruña de opinións, informacións, comentarios ou documentos
        que os usuarios queiran incorporar, pudendo instalar filtros a tal efecto.
        Todo isto realizarase unicamente mentres teña o fin de preservar o obxectivo f
        undamental do porta UDC Decide.
      </p>
      <p>
        De acordo coa normativa vixente queda prohibida a utilización do portal UDC Decide da
        Universidade da Coruña con fins distintos aos de debater, compartir e valorar propostas,
        e especificamente:
        <ul>
          <li>
            Compartir calquera contido que poda ser considerado como unha vulneración
            en calquera forma dos dereitos fundamentais ao honor, imaxe e intimidade persoal
            e familiar de terceiros ou contra a dignidade das persoas.
          </li>
          <li>
            Compartir imaxes ou fotografías que recollan imaxes ou datos
            persoais de terceiros sen ter o oportuno consentimento dos seus titulares.
          </li>
          <li>
            Compartir calquera contido que vulnere o secreto nas comunicacións,
            a infracción de dereitos de propiedade industrial e intelectual ou das normas reguladoras
            da protección de datos de carácter persoal.
          </li>
          <li>
            Reproducir, distribuír, compartir contidos, informacións ou imaxes
            que fosen postas a disposición polos usuarios sen a autorización expresa destes.
          </li>
          <li>
            A súa utilización con fins de publicidade.
          </li>
        </ul>
      </p>
      <p>
        A realización de calquera dos anteriores comportamentos permitirá á Universidade da Coruña
        suspender temporalmente a actividade dun participante, inhabilitar a súa conta ou borrar
        o seu contido, sen prexuízo de outras responsabilidades que puidesen ser reclamadas.
      </p>
      <p>
        No caso de que o contido introducido polos usuarios incorpore un enlace a outro
        sitio web, a Universidade da Coruña non será responsable polos danos ou prexuízos
        derivados do acceso ao enlace ou aos seus contidos.
      </p>
      <p>
        No caso de litixio de calquera clase ou por calquera motivo entre os participantes no sitio web
        e/ou un terceiro, a Universidade da Coruña quedará exenta de calquera responsabilidade
        por reclamacións, demandas ou danos de calquera natureza relacionados ou derivados do litixio.
      </p>

      <h3>5. Uso do portal UDC Decide</h3>
      <p>
        Os participantes poderán acceder e navegar polo portal UDC Decide libremente e de forma anónima.
        Só cando queiran realizar algunha acción que implique a creación, apoio ou comentario dunha proposta,
        ou a participación nun debate, solicitaráselles que introduzan as súas credenciais, para o cal será necesario estar rexistrado.
        O rexistro que permitirá participar comentando en calquera das seccións, creando debates ou propostas, realizarase
        introducindo un nome de usuario e un correo electrónico e aceptando as condicións de uso do portal UDC Decide,
        ou ben usando o nome de usuario e contrasinal da UDC.
        O portal UDC Decide tamén permite a identificación mediante o usuario de Facebook e Twitter.
      </p>
      <p>
        Para participar apoiando propostas, o usuario deberá estar rexistrado co seu nome de usuario
        e contrasinal da UDC. O usuario poderá interactuar coa ferramenta intervindo, polo menos,
        dos seguintes xeitos:

        <h4>1. Debates</h4>
        <p>No apartado de debates o usuario poderá participar:
          <ul>
            <li>Creando un debate. Cada usuario poderá abrir un ou máis debates. Os debates serán publicados automaticamente.</li>
            <li>Votando de maneira positiva ou negativa aos debates creados polo usuarios. Os debates aparecerán cos votos positivos e negativos recibidos. Cada usuario poderá exclusivamente votar ou ben positiva ou ben negativamente, e unha vez a cada debate.</li>
            <li>Comentando os debates do resto de usuarios. Cada debate poderá ser comentado polo resto de usuarios.</li>
          </ul>
        </p>

        <h4>2. Propostas</h4>
        <p>No apartado de propostas calquera usuario rexistrado como usuario da UDC poderá participar:
          <ul>
            <li>
              Creando unha proposta. Cada usuario poderá dar de alta unha ou máis propostas.
              As propostas serán publicadas automaticamente.
            </li>
            <li>Apoiando as propostas creadas polos usuarios. As propostas aparecerán
              co número de apoios recibidos. Cada usuario poderá exclusivamente apoiar unha vez a cada proposta.
              Cando unha proposta alcance unha cantidade de votos elevada (o 100% do que marca na barra de progreso)
              pasará a ser estudada automaticamente por un grupo de traballo da Universidade e pasará á seguinte
              fase na que se votará se se leva a cabo ou non.
            </li>
            <li>
              Comentando as propostas do resto de usuarios. Cada proposta poderá ser comentada polo resto d
              e usuarios da UDC, podendo argumentar as razóns do apoio ou suxerir melloras.
            </li>
          </ul>
        </p>
      </p>

      <h3>6. Condicións para o tratamento dos contidos proporcionados polos usuarios</h3>
      <p>
        As presentes condicións regulan os termos aplicables ao contido remitido polos usuarios desta plataforma a través do
        formulario correspondente (en adiante, o contido) Estas condicións aplícanse tanto ao contido inicialmente remitido ao
        portal UDC Decide como a calquera contido que se envíe con posterioridade ou se manifeste á Universidade da Coruña,
        debendo significarse o seguinte:

        <ol type="A">
          <li>
            Non confidencialidade: todo o contido remitido polo usuario á Universidade da Coruña deberá ser susceptible
            de ser coñecido polo público en xeral. Polo tanto, a Universidade da Coruña tratará o citado contido como
            información non confidencial.
          </li>
          <li>
            Procedemento: No caso de que a Universidade da Coruña estea interesada no contido remitido polo usuario,
            porase en contacto con el para solicitarlle información adicional. Dita información terá así mesmo carácter
            de non confidencial, sen prexuízo de que no caso de que as partes consideren a necesidade de intercambiarse
            información de carácter confidencial se firme o correspondente acordo de confidencialidade.<br/>

            A Universidade da Coruña resérvase o dereito de non contactar cos usuarios que lle remitiran o contido.
            Todo elo sen prexuízo do establecido no apartado relativo á “Titularidade dos dereitos de propiedade
            intelectual e industrial”.<br/>

            No suposto que a Universidade da Coruña, á súa enteira discreción, decidise contactar con determinados usuarios,
            estes coñecen e aceptan que por elo a Universidade da Coruña non adquire compromiso algún.
          </li>
          <li>
            Publicidade ou difusión dos contidos presentados: Os participantes no portal UDC Decide da Universidade da Coruña
            declaran coñecer e aceptar o feito de que a información aportada poderá ser publicada na web www.udc.gal,
            así como a través de outros medios que a organización considere oportunos para dar a coñecer esta iniciativa.
          </li>
          <li>
            Non devolución material: A Universidade da Coruña carece de obriga algunha de devolver o contido
            remitido polos usuarios.
          </li>
          <li>
            Procedemento de aviso e retirada: A Universidade da Coruña procesará as peticións de eliminación ou
            retirada de contidos que engadiran os participantes que incumpran as condicións de uso. Así mesmo,
            calquera persoa con motivos razoados, se existe incumprimento das presentes condicións de uso,
            poderá solicitar a retirada de contidos á Universidade da Coruña. A Universidade da Coruña resérvase
            o dereito de facer as comprobacións ou verificacións oportunas con carácter previo á retirada de calquera contido.
          </li>
        </ol>
      </p>

      <h3>7. Política de privacidade e protección de datos</h3>
      <p>
        <ol type="A">
          <li>
            Titularidade dos dereitos de propiedade intelectual e industrial: o usuario que aporta
            o contido declara, coa aceptación das presentes Condicións, ser titular dos dereitos
            depropiedade intelectual e/ou industrial ou ostentar dereitos suficientes sobre dito
            contido e que ademais o remite á Universidade da Coruña de forma voluntaria para
            a súa divulgación no portal UDC Decide da Universidade da Coruña.<br/>

            A titularidade de todos e cada un dos contidos presentados que se encontren protexidos
            ou sexan susceptibles de encontrarse protexidos, polo Dereito da Propiedade Industrial e
            Intelectual, corresponde aos autores e/ou titulares dos mencionados contidos.<br/>

            A Universidade da Coruña non asume responsabilidade algunha, xa sexa directa ou
            indirecta, respecto de calquera tipo de controversia, disputa e/ou litixio que puidese
            derivarse da publicación, divulgación e/ou difusión dos contidos aportados sen o
            preceptivo consentimento dos seus lexítimos titulares.<br/>

            A Universidade da Coruña respectará todos os dereitos de propiedade intelectual ou
            industrial sobre o contido remitido polos usuarios. Calquera vulneración dos dereitos de
            propiedade intelectual ou industrial será responsabilidade da persoa que aporte o contido.<br/>

            A Universidade da Coruña, pola mera recepción do contido, non recibe do usuario licenza
            algunha de propiedade intelectual ou industrial, polo que non fará uso do contido salvo
            aceptación expresa do seu titular.<br/>
          </li>
          <li>
            Protección de datos: Os datos persoais aportados polos usuarios que se rexistren
            no portal UDC Decide serán incorporados e tratados no ficheiro
            XESTION_PROCESOS_PARTICIPATIVOS, a finalidade do cal é xestionar os
            procesos participativos para o control da habilitación das persoas que participan
            neles e reconto meramente numérico e estatístico dos resultados derivados dos
            procesos de participación universitaria, xestión de axendas para convocatorias e
            envío de información solicitada. O órgano responsable é a vicerreitoría competente
            en materia de participación universitaria, ante a que a persoa interesada poderá
            exercer os dereitos de acceso, rectificación, cancelación e oposición, todo o cal
            infórmase en cumprimento do artigo 5 da Lei Orgánica 15/1999, de 13 de
            decembro, de Protección de Datos de Carácter Persoal.<br/>

            Como principio xeral, os datos persoais non serán comunicados a terceiros, agás cando a
            comunicación fose autorizada polo usuario, ou a información sexa requirida pola
            autoridade xudicial, ministerio fiscal ou a policía xudicial, ou se dea algún dos supostos
            regulados no artigo 11 da Lei Orgánica 15/1999, de 13 de decembro, de Protección de
            Datos de Carácter Persoal.<br/>

            Os dereitos de acceso, rectificación, cancelación e oposición, poderán exercitarse
            dirixindo unha comunicación por escrito á Universidade da Coruña, Vicerreitoría de
            Estudantes, Participación e Extensión Universitaria, Unidade de Participación.<br/>
          </li>
        </ol>
      </p>

      <h3>8. Normativa aplicable</h3>
      <p>
        As normas do ordenamento xurídico español rexen de maneira exclusiva esas condicións
        de uso. Calquera disputa, controversia ou reclamación derivada destas condicións de uso,
        ou o incumprimento, rescisión ou invalidación destas, resolverase exclusivamente ante os
        xulgados competentes.
      </p>

      <h3>9. Revisión das condicións de uso
      <p>
        A Universidade da Coruña reservase o dereito de revisar as presentes condicións de uso
        e a política de privacidade en calquera momento e por calquera razón. En dito caso, os
        usuarios rexistrados serán avisados a través deste espazo en liña e, se continúan
        utilizando o portal UDC Decide, entenderanse aceptadas as modificacións introducidas.
      </p>
    </div>
  </div>
</div>
