<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <i class="icon-angle-left left"></i>&nbsp;
      <%= link_to t("debates.show.back_link"), page_path(:more_information), class: 'left back' %>

      <h1 class="clear">Emprégao na túa universidade</h1>
      <p>Emprégao libremente ou axúdanos a melloralo, é software libre.</p>

      <p>Este Portal de Goberno Aberto baséase na
        <a href="https://github.com/ayuntamientomadrid" target="_blank">aplicación Consul</a> creado para o Concello de Madrid.
      </p>
      <p>
        A aplicación é software libre, con <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">licencia AGPLv3</a>,
        calquera pode empregar, copiar, ver, modificar, e redistribuir o seu código fonte coas modificacións que queira
        (mantendo que outros poidan facer o mesmo). Creemos que a cultura é mellor e máis libre así.
      </p>

      <p> Creamos o portal de Participación que tes ante tí coma un fork da aplicación Cónsul, podes consultar o seu código fonte
        modificado en <a href="https://github.com/trabe/participa" target="_blank">github</a>.
        Animámoste a que colabores connosco para melloralo, que o descargues para velo ou que o refistribúas se así o desexas.
      </p>

    </div>
  </div>
</div>
