<% provide :title do %><%= t('pages.titles.more_information') %><% end %>

<div class="page info row-full">
  <div class="row">
    <div class="menu small-12 medium-3 column">
      <i class="icon-angle-left left"></i>&nbsp;
      <%= link_to t("debates.show.back_link"), :back, class: 'left back' %>
      <ul class="clear">
        <li>
            <a href="#i">1. Usuarios</a>
            <ul>
              <li><a href="#i1">1.1. Usuario anónimo</a></li>
              <li><a href="#i2">1.2. Usuario rexistrado</a></li>
              <li><a href="#i3">1.1. Usuario rexistrado da UDC</a></li>

            </ul>
        </li>
        <li>
            <a href="#ii">2. Mecanismos de participación</a>
            <ul>
              <li><a href="#ii1">2.1. Debates</a></li>
              <li><a href="#ii2">2.2. Propostas</a></li>
              <li><a href="#ii3">2.3. Comentarios</a></li>
            </ul>
        </li>
        <li>
            <a href="#iii">3. Software libre</a>
        </li>
        <li>
            <a href="#iv">4. Contacto</a>
        </li>
      </ul>
    </div>

    <div class="text small-12 medium-9 column">

      <h1>Como funciona este Portal de Participación?</h1>

      <h2 id="i">1. Tipos de usuarios e permisos</h2>

      <h3 id="i1">1.1. Usuario anónimo</h3>
      <p>
        Calquera usuario poderá acceder ao portal e visualizar os <a href="#ii1">debates</a> e as <a href="#ii2">propostas</a>.
      </p>
      <h3 id="i2">1.2. Usuario rexistrado</h3>
      <p>
        Para poder votar ou crear <a href="#ii1">debates</a> terás que ser un membro rexistrado.
        Non fai falta que teñas usuario da universidade. Sen embargo, os usuarios que non se rexistren co nome de usuario e contrasinal da UDC non poden votar ou crear <a href="#ii2">propostas</a>.
      </p>
      <p>
        Se te rexistraches co teu email da UDC, pero non entraches como "usuario UDC" basta con que te rexistres outra vez para
        que o teu usuario adquira privilexios da UDC. Se non foi así terás que crear un novo usuario.
      </p>
      <h3 id="i3">1.3. Usuario rexistrado da UDC</h3>
      <p>
        Os usuarios que se rexistran co seu nome de usuario e contrasinal da UDC poderán votar e crear <a href="#ii2">propostas</a>.
        Non poderán cambiar a contrasinal nin o correo electrónico que usan no portal (xa que se conectan co usuario da UDC).
      </p>

      <h2 id="ii">2. Mecanismos de participación</h2>

      <h3 id="ii1">2.1. Debates</h3>
      <p>
          Calquera usuario rexistrado pode comezar un debate sobre calquera tema relacionado coa universidade.
          Todos os debates se publican no portal, poidendo os usuarios rexistrados posteriormente:
          <ul style="margin-left: 50px;">
            <li>Votalos positivamente (este voto pódese cambiar)</li>
            <li>Votalos negativamente (este voto pódese cambiar)</li>
            <li>Compartilos nas redes sociais</li>
            <li><a href="#ii3">Comentar</a> sobre eles</li>
            <li>Marcalos coma inapropiados. Se sucede con frecuencia será revisado e avisarase.</li>
          </ul>
      </p>
      <p>
          Na páxina de debates figurarán todos os debates creados na plataforma, que se poderán ordenar polos debates con máis comentarios,
          os máis novos, os máis controvertidos, etc.
      </p>

      <h3 id="ii2">2.2. Propostas</h3>

      <p>
        Calquera usuario rexistrado como usuario da UDC poderá crear e apoiar propostas.
        Deste xeito será só a propia Universidade a que decida sobre cales son as propostas que lle interesa, como comunidade.
      </p>

      <p>
        As accións que se poden facer sobre as propostas son:
        <ul style="margin-left: 50px;">
          <li>Apoiala. Ten en conta que esta acción non se pode desfacer</li>
          <li>Compartila nas redes sociais</li>
          <li><a href="#ii3">Comentar</a> sobre elas</li>
        </ul>
      </p>

      <h3 id="ii3">2.3. Comentarios</h3>

      <p>
        É posible comentar tanto nos debates coma nas propostas. Todos os usuarios rexistrados poden realizar comentarios.
        Sobre os comentarios é posible:
        <ul style="margin-left: 50px;">
          <li>Votalos positivamente</li>
          <li>Votalos negativamente</li>
          <li>Respondelos</li>
          <li>Marcalos coma inapropiados. Se isto sucede demasiadas veces será revisado.</li>
        </ul>
      </p>

      <h2 id="iii">3. Software Libre</h2>
      <p>Emprégao libremente na túa universidade ou axúdanos a melloralo, é software libre.</p>

      <p>Este portal UDC Decide baséase na
        <a href="https://github.com/consul/consul" target="_blank">aplicación Consul</a> creada para o Concello de Madrid.
      </p>
      <p>
        A aplicación é software libre, con <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">licencia AGPLv3</a>,
        calquera pode empregar, copiar, ver, modificar, e redistribuir o seu código fonte coas modificacións que queira
        (mantendo que outros poidan facer o mesmo). Consideramos que a cultura é mellor e máis libre así.
      </p>

      <p> Creamos o portal de Participación que tes ante tí coma un fork da aplicación Cónsul e podes consultar o seu código fonte
        modificado no <a href="https://git.cixug.es/osl/participacion" target="_blank">repositorio da CIXUG</a>.
        Animámoste a que colabores connosco para melloralo, que o descargues para velo ou que o redistribúas se así o desexas.
      </p>

      <h2 id="iv">4. Contacto</h2>
      <p>Para calquera consulta sobre este portal de Participación podes contactar á dirección de
        correo electrónico <a href="mailto:participacion.vepeu@udc.gal">participacion.vepeu@udc.gal</a>
      </p>
    </div>
  </div>
</div>
