<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">

      <%= render '/shared/print' %>

      <h1><%= t("pages.privacy") %></h1>

      <ol>
        <li>
          A navegación pola información dispoñible no portal UDC Decide da Universidade da Coruña é anónima.
        </li>
        <li>
          Para utilizar os servizos contidos no portal UDC Decide da Universidade da
          Coruña o usuario deberá rexistrarse e proporcionar previamente os datos de
          carácter persoal segundo a información específica que consta en cada tipo de alta.
        </li>
        <li>
          Os datos aportados serán incorporados e tratados pola Universidade da Coruña
          de acordo coa descrición do ficheiro seguinte:
          <ul>
            <li>
              <strong>Nome do ficheiro/tratamento:</strong> XESTION_PROCESOS_PARTICIPATIVOS
            </li>
            <li>
              <strong>Finalidade do ficheiro/tratamento:</strong> xestionar os procesos participativos
              para o control da habilitación das persoas que participan nos mesmos e
              reconto meramente numérico e estatístico dos resultados derivados dos
              procesos de participación universitaria.
            </li>
            <li>
              <strong>Órgano responsable:</strong> Vicerreitoría de Estudantes, Participación e
              Extensión Universitaria.
            </li>
          </ul>
        </li>
        <li>
          O interesado poderá exercer os dereitos de acceso, rectificación, cancelación e
          oposición ante o órgano responsable indicado, todo o cal infórmase en
          cumprimento do artigo 5 da Lei Orgánica 15/1999, de 13 de decembro, de
          Protección de Datos de Carácter Persoal.
        </li>
        <li>
          Como principio xeral, este sitio web non comparte nin revela información obtida,
          agás cando fose autorizada polo usuario, ou a información sexa requirida pola
          autoridade xudicial, ministerio fiscal ou a policía xudicial, ou se dea algún dos
          supostos regulados no artigo 11 da Lei Orgánica 15/1999, de 13 de decembro, de
          Protección de Datos de Carácter Persoal.
        </li>
      </ol>
    </div>
  </div>
</div>
