<div class="sidebar-divider"></div>
<h3 class="sidebar-title"><%= t("shared.tags_cloud.most_used_districts") %></h3>
<br>

<div class="geozone">
  <% @geozones.each do |geozone| %>
    <%= link_to geozone.name, proposals_path(search: geozone.name) %>
  <% end %>
</div>

<%= link_to  t("shared.tags_cloud.view_all_disctricts"), map_proposals_path %>
