// Table of Contents
//
// 01. Fonts
// 02. Colors
// 03. Forms
// 04. Alerts
// 05. Levels
// 06. Responsive
//

// 01. Fonts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$font-family-sans-serif: Arial, sans-serif;
$font-family-sans-serif-2: Helvetica, sans-serif;

$line-height: rem-calc(24);

// 02. Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

$body:              #F5F5F5;
$header-background: #FFFFFF;
$background:        #F5F5F5;
$border:            #DEE0E3;
$brand:             #00BFFF;

$udc: darken(#DA54A9, 10%);

/*
lighter-background-color: #FFF
medium-background-color: #F5F5F5
dark-background-color: #555

text-color: #555
pale-text-color: #999
countertype-text-color: #FFF
link-color: #00BFFF

highlight-color: #00BFFF
highlight-color-rgba-50: rgba(0, 191, 255, 0.50)

border-dotted-color: #CCC
button-shadow-color: #00ace6
*/

$button-hover: darken($brand, 20%);

$text:              #555;
$text-dark:         #666666;
$text-medium:       #999999;
$text-light:        #CCCCCC;

$link:              darken($brand, 15%);
$link-hover:        darken($link, 20%);
$link-border:       darken($link, 15%);

$debates:           $brand;
$votes-bg:          darken($debates, 10%);
$votes-border:      darken($debates, 15%);
$votes-not-logged:  darken($debates, 15%);

$no:  #E7422C;
$yes: #4F8B60;

$votes-like:        $yes;
$votes-like-act:    lighten($votes-like, 15%);
$votes-unlike:      $no;
$votes-unlike-act:  lighten($votes-unlike, 15%);

$delete:            #F04124;
$check:             #46DB91;

$proposals:             #086787;
$proposals-border:      darken($proposals, 5%);
$proposals-not-logged:  darken($proposals, 5%);
$proposals-percentage:  darken($proposals, 10%);
$proposals-meter:       $votes-like;
$proposals-progress:    rgba(255,255,255,.8);

$footer-border:     #eeeeee;

// 03. Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -

$input-bg:          #F8F8F8;

// 04. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$success-bg:        #DFF0D8;
$success-border:    #D6E9C6;
$success-color:     #3C763D;

$info-bg:	          #D9EDF7;
$info-border:       #BCE8F1;
$info-color:        #31708F;

$warning-bg:        #FCF8E3;
$warning-border:    #FAEBCC;
$warning-color:     #8A6D3B;

$alert-bg:          #F2DEDE;
$alert-border:      #EBCCD1;
$alert-color:       #A94442;

// 05. Levels
// - - - - - - - - - - - - - - - - - - - - - - - - -

$level-1:           #1ABC9C;
$level-2:           #43AC6A;
$level-3:           #43AC6A;
$level-4:           #43AC6A;
$level-5:           #F08A24;

$author:            #008CCF;
$association:       #C0392B;
$deleted:           #E7E7E7;

$comment-author:    rgba(45,144,248,.15);
$comment-level-5:   rgba(255,241,204,1);
$comment-admin:     rgba(45,144,248,.15);
$comment-official:  rgba(70,219,145,.3);

// 06. Responsive
// - - - - - - - - - - - - - - - - - - - - - - - - -

$small:             em-calc(480);
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(1024);
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

$small-range:   (0, $small-breakpoint);
$medium-range:  ($small-breakpoint  + em-calc(1), $medium-breakpoint);
$large-range:   ($medium-breakpoint + em-calc(1), $large-breakpoint);
$xlarge-range:  ($large-breakpoint  + em-calc(1), $xlarge-breakpoint);
$xxlarge-range: ($xlarge-breakpoint + em-calc(1), em-calc(99999999));
