<%= link_to 'El formulario por defecto del omniauth', user_omniauth_authorize_path(:ldap), class: "button-cas button radius expand" %>


<div class="row">
  <%= form_tag '/users/auth/ldap/callback' do %>
    <label for='username'>Login:</label>
    <input type='text' id='username' name='username'/>
    <label for='password'>Password:</label>
    <input type='password' id='password' name='password'/>
    <button class="button-cas button radius expand" type='submit'>
      <%= t("omniauth.cas.sign_in") %>
    </button>

  <% end %>
</div>
